<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="test">
	  <parameter name="retryanalyzer" value="com.comcast.ListenersUtility.RetryImplementation"></parameter>
    <classes>
      <class name="com.comcast.crm.Organizations_Test.Interview"/>
      <class name="com.comcast.crm.Organizations_Test.Interviewx"/>
    </classes>
  </test>
</suite> <!-- Suite -->
